USE [master]
GO
/****** Object:  Database [PRUEBA_GAP_DB]    Script Date: 7/21/2019 4:40:54 PM ******/
CREATE DATABASE [PRUEBA_GAP_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRUEBA_GAP_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\PRUEBA_GAP_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRUEBA_GAP_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\PRUEBA_GAP_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRUEBA_GAP_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRUEBA_GAP_DB]
GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 7/21/2019 4:40:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT_SUBJECT]    Script Date: 7/21/2019 4:40:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT_SUBJECT](
	[student_id] [int] NOT NULL,
	[subject_id] [int] NOT NULL,
	[grade] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_STUDENT_SUBJECT] PRIMARY KEY CLUSTERED 
(
	[student_id] ASC,
	[subject_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBJECT]    Script Date: 7/21/2019 4:40:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBJECT](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[STUDENT_SUBJECT]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_SUBJECT_STUDENT] FOREIGN KEY([student_id])
REFERENCES [dbo].[STUDENT] ([id])
GO
ALTER TABLE [dbo].[STUDENT_SUBJECT] CHECK CONSTRAINT [FK_STUDENT_SUBJECT_STUDENT]
GO
ALTER TABLE [dbo].[STUDENT_SUBJECT]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_SUBJECT_SUBJECT] FOREIGN KEY([subject_id])
REFERENCES [dbo].[SUBJECT] ([id])
GO
ALTER TABLE [dbo].[STUDENT_SUBJECT] CHECK CONSTRAINT [FK_STUDENT_SUBJECT_SUBJECT]
GO
USE [master]
GO
